.logo {
  font-family: $font-family-logo;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  display: inline-block;
  text-decoration: none;
  margin: 16px 0;
  // margin-right: 93px;
  @media screen and (min-width: 768px) {
    margin: 26px 88px 26px 0;
  }
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
    font-weight: 700;
  }
}
.logo-header {
  color: var(--title-text-color);
}
.button-position {
  position: relative;
}

.logo__menu-close {
  margin-left: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 3;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 768px) {
    display: none;
  }
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.logo__menu-open {
  width: 40px;
  height: 40px;
  display: flex;
  border: none;
  background-color: transparent;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    display: none;
  }
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.logo__menu-close {
  position: absolute;
  top: 15px;
  right: 15px;
}
.logo__menu-open {
  position: absolute;
  top: 15px;
  right: 15px;
}
.menu-navigation {
  @media screen and (max-width: 767px) {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 48px 40px;
    transform: translateX(100%);
    transition: transform 250ms var(--timing-function);
    z-index: 2;
    &.is-open {
      transform: translateX(0);
    }
  }
  @media screen and (logo__menu-open) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.site-nav {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
  &__link {
    @media screen and (max-width: 479px) {
      font-size: 12px;
      padding-bottom: 10px;
    }
    display: block;
    // padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--timing-function);
    font-size: 40px;
    font-weight: 500;
    line-height: 1.47;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.14;
      text-decoration: none;
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }
  &__link--active {
    color: var(--accent-color);
    position: relative;
  }
  &__link--active::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    animation-name: slideInLeft;
    animation-iteration-count: 1;
    transition: var(--timing-function);
    transform: translateX(0%);
    @media screen and(max-width:479px) {
      bottom: 5px;
    }
    @media screen and(min-width:768px) {
      bottom: -3px;
    }
  }
  &__item {
    position: relative;
    display: inline-flex;
  }
  &__item:not(:first-child) {
    @media screen and (min-width: 768px) {
      margin-left: 50px;
    }
  }
  @keyframes slideInLeft {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(-15%, 0, 0);
      visibility: visible;
    }

    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
}
.menu-contact {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.contact {
  display: flex;
  flex-flow: column-reverse;
  @media screen and (min-width: 768px) and(max-width: 1199px) {
    flex-flow: column;
    margin-left: 80px;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    margin-left: 305px;
  }
  &__item {
    @media screen and (min-width: 481px) {
      display: inline-flex;
    }
    @media screen and (min-width: 1200px) {
      align-items: center;
    }
  }
  &__item:not(:first-child) {
    @media screen and (min-width: 1200px) {
      margin-left: 30px;
    }
  }
  &__item:not(:last-child) {
    @media screen and (max-width: 479px) {
      margin-top: 5px;
    }

    @media screen and (min-width: 480px) and(max-width:767px) {
      margin-top: 32px;
    }

    @media screen and (max-width: 1199px) {
      margin-bottom: 10px;
    }
  }

  &__link {
    font-weight: 500;
    color: var(--primary-text-color);
    line-height: 1.16px;
    letter-spacing: 0.02em;
    @media screen and (max-width: 479px) {
      font-size: 12px;
    }
    @media screen and (min-width: 480px) {
      font-size: 24px;
    }
    @media screen and (min-width: 768px) {
      font-size: 12px;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 1.14px;
    }
  }
  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: var(--accent-color);
  }
  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 1.14px;
    }
    @media screen and (min-width: 480px) and (max-width: 767px) {
      font-size: 34px;
      line-height: 1.17;
      color: var(--accent-color);
    }
  }
  &__icon {
    display: none;
    @media screen and (min-width: 768px) {
      display: inline-flex;
      fill: currentColor;
      margin-right: 10px;
    }
  }
}
.social {
  display: inline-flex;
  flex-wrap: wrap;

  @media screen and(max-width:479px) {
    flex-direction: column;
  }
  @media screen and(min-width:480px) {
    margin-top: 64px;
  }
  @media screen and(min-width:768px) {
    display: none;
  }

  &__list:not(:last-child) {
    @media screen and (min-width: 480px) {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }
  &__media {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    @media screen and (min-width: 480px) {
      font-size: 18px;
    }
  }
  &__list {
    padding: 10px;
    @media screen and (max-width: 480px) {
      padding: 0;
    }
  }
  &__list:first-child {
    padding-left: 0;
  }
}
